{% block stylesheets %}
	{{ encore_entry_link_tags('reserva') }}
{% endblock %}
<div {{ stimulus_controller('reservacion') }}>

	{% include 'reserva/_steps.html.twig' %}

	{% if reservacion_paso == 0 %}
		{{ render_esi(controller('App\\Controller\\ReservacionController::_rutaForm')) }}
	{% elseif reservacion_paso == 1 %}
		{{ render(controller('App\\Controller\\ReservacionController::_salidaForm')) }}
	{% endif %}
</div>
