# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    default_locale: es
    set_locale_from_accept_language: false
    set_content_language_from_locale: false
    enabled_locales: ["es", "en"]
    reservacion_minutos: 150

    cybersource_merchant_id: "%env(CYBERSOURCE_MERCHANT_ID)%"

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: "../src/"
        exclude:
            - "../src/DependencyInjection/"
            - "../src/Entity/"
            - "../src/Kernel.php"

    App\Services\RemoteDatabaseQueries:
        arguments:
            # the '@' symbol is important: that's what tells the container
            # you want to pass the *service* whose id is 'monolog.logger.request',
            # and not just the *string* 'monolog.logger.request'
            $system_fdn_entitymanager: "@doctrine.orm.systemfdn_entity_manager"
            $FDN_HOST: "%env(FDN_HOST)%"

    App\Services\CybersourceApi:
        arguments:
            $cybersource_merchant_id: "%env(CYBERSOURCE_MERCHANT_ID)%"
            $cybersource_merchant_key_id: "%env(CYBERSOURCE_MERCHANT_KEY_ID)%"
            $cybersource_merchant_secret_key: "%env(CYBERSOURCE_MERCHANT_SECRET_KEY)%"
            $CYBERSOURCE_HOST: "%env(CYBERSOURCE_HOST)%"
            $CYBERSOURCE_PAYMENTS: "%env(CYBERSOURCE_PAYMENTS)%"

    App\EventSubscriber\LocaleRedirectSubscriber:
        arguments:
            $enabled_locales: "%enabled_locales%"

    App\EventSubscriber\SessionReservacionSubscriber:
        arguments:
            $reservacion_minutos: "%reservacion_minutos%"

    App\Command\AnularReservacionCommand:
        arguments:
            $RESERVACION_MINUTOS: "%reservacion_minutos%"

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
