@import "material-symbols/outlined.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        background-color: theme("colors.white");
        border-radius: theme("borderRadius.lg");
        padding: theme("spacing.6");
        box-shadow: theme("boxShadow.xl");
    }
    [type="submit"] {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-semibold rounded-lg px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
    }
    .input {
        @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 placeholder:italic placeholder:text-slate-400;
    }

    /* input[type="text"], */
    /* select {
        @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 placeholder:italic placeholder:text-slate-400;
    } */
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* font-family: "Barlow", sans-serif; */
    font-family: "Montserrat", sans-serif;
    /* font-size: 48px; */
}

.background-transparent {
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, 0.3);
}
.pulse {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        font-variation-settings: "wght" 100;
    }
    50% {
        font-variation-settings: "wght" 700;
    }
    100% {
        font-variation-settings: "wght" 100;
    }
}

/*************************Tailwind breakpoint***************************/
/* Tailwind breakpoint sm 640px	 */
@media screen(sm) {
}
/* Tailwind breakpoint md 768px	 */
@media screen(md) {
}
/* Tailwind breakpoint lg 1024px  */
@media screen(lg) {
}
/* Tailwind breakpoint xl 1280px  */
@media screen(xl) {
}
/* Tailwind breakpoint 2xl 1536px  */
@media screen(2xl) {
}
