@tailwind base;
@tailwind components;
@tailwind utilities;

.background-transparent {
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, 0.3);
}

@layer components {
    .card {
        background-color: theme("colors.white");
        border-radius: theme("borderRadius.lg");
        padding: theme("spacing.6");
        box-shadow: theme("boxShadow.xl");
    }
    .btn-primary {
        @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
}

/*************************Tailwind breakpoint***************************/
/* Tailwind breakpoint sm 640px	 */
@media screen(sm) {
}
/* Tailwind breakpoint md 768px	 */
@media screen(md) {
}
/* Tailwind breakpoint lg 1024px  */
@media screen(lg) {
}
/* Tailwind breakpoint xl 1280px  */
@media screen(xl) {
}
/* Tailwind breakpoint 2xl 1536px  */
@media screen(2xl) {
}
