.step-label {
    @apply absolute text-xs sm:text-sm md:text-base text-center w-full leading-normal text-slate-600 font-bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -40px;
}

.step-icon {
    @apply w-10 h-10 mx-auto bg-white border-2 border-gray-200 rounded-full text-lg text-white flex items-center;
}

.complete .step-icon {
    @apply bg-teal-500 rounded-full;
}

.step-icon > span {
    @apply text-center w-full text-gray-600;
}

.complete .step-icon > span {
    @apply text-white;
}

.active .step-icon > span {
    @apply text-indigo-500;
}

.step-verticals-lines {
    @apply border border-t-0 border-b-0 border-indigo-500 w-10 mx-auto absolute hidden;
    height: 33px;
    top: 40px;
    left: 50%;
    margin-left: -20px;
}

.step-verticals-lines > div {
    position: absolute;
    background: white;
    width: 38px;
    height: 20px;
    bottom: -1px;
}

.active .step-icon {
    @apply border border-b-0 border-indigo-500 rounded-b-none bg-transparent;
}

.active .step-verticals-lines {
    @apply block;
}

.step-union-lines {
    @apply w-full py-1 rounded;
}

.active .step-union-lines,
.complete .step-union-lines {
    @apply bg-teal-500;
}
