@import "./flatpickr.min.css";

.step-label {
    @apply absolute text-sm md:text-base text-center w-full font-medium text-slate-400;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -45px;
}

.step-icon {
    @apply w-10 h-10 mx-auto bg-slate-100 border-2 border-slate-200 rounded-full flex items-center relative;
}

.complete .step-icon {
    @apply bg-teal-500 rounded-full;
}

.complete .step-label {
    @apply font-semibold text-teal-600;
}

.step-icon > span {
    @apply text-center w-full text-slate-400;
}

.complete .step-icon > span {
    @apply text-white;
}

.complete .step-icon > span {
    @apply invisible;
}

.complete .step-icon > span::after {
    content: "done";
    @apply visible block absolute;
    padding: 5px;
    top: 1px;
    left: 1px;
}

.active .step-icon {
    @apply bg-orange-300/80;
}

.active .step-icon > span {
    @apply text-orange-700/50;
}

.active .step-label {
    @apply text-orange-600/80 font-semibold;
}

.step-union-lines {
    @apply w-full py-1 rounded;
}

.active .step-union-lines,
.complete .step-union-lines {
    @apply bg-teal-500;
}

#reservacion-form[busy],
#salida-form[busy] {
    opacity: 0.5;
}

#reservacion-form[busy] button,
#reservacion-form[busy] a.btn,
#salida-form[busy] .calendar-icon {
    @apply hidden;
}

#salida-form[busy] .button-loading {
    @apply inline;
}

#reservacion-form[busy] div.loading-div {
    @apply flex;
}

.calendar-icon {
    @apply absolute m-[10px] top-0 right-0 cursor-pointer text-slate-500;
}

.salida-col {
    @apply text-sm text-slate-600 px-0 sm:px-2 py-4 border-b font-medium;
}

.salida-selected {
    @apply bg-gray-100 rounded;
}

.salida-selected button.elegir {
    @apply hidden;
}
.salida-selected button.btn-descartar-salida {
    @apply inline-block;
}

.asiento > svg {
    @apply fill-slate-500;
}
.asiento.libre {
    @apply cursor-pointer;
}
.asiento.libre:not(.elegido):hover {
    @apply bg-slate-200 rounded-2xl;
}
.asiento.elegido {
    @apply bg-teal-400 rounded-2xl;
}
.asiento.elegido.libre:hover {
    @apply bg-teal-200;
}
.elegido > svg {
    @apply fill-teal-700;
}
.help-text {
    @apply text-orange-500 text-sm flex items-center font-medium;
}
.help-text.help-info {
    @apply text-indigo-500 font-medium;
}

.section-blur {
    @apply blur-lg;
}

@media only screen and (max-width: 1000px) {
    .reserva {
        @apply relative;
    }
    .banner {
        @apply block;
    }
    .slider {
        /* @apply hidden; */
    }
}
