@import "./flatpickr.min.css";

.step-label {
    @apply absolute text-xs sm:text-sm md:text-base text-center w-full leading-normal text-slate-600 font-bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -40px;
}

.step-icon {
    @apply w-10 h-10 mx-auto bg-white border-2 border-gray-200 rounded-full text-lg text-white flex items-center relative;
}

.complete .step-icon {
    @apply bg-teal-500 rounded-full;
}

.step-icon > span {
    @apply text-center w-full text-gray-600;
}

.complete .step-icon > span {
    @apply text-white;
}

/* .active .step-icon > span {
    @apply text-blue-700;
} */

.complete .step-icon > span {
    @apply invisible;
}

.complete .step-icon > span::after {
    content: "done";
    @apply visible block absolute;
    padding: 5px;
    top: 1px;
    left: 1px;
}

.step-verticals-lines {
    @apply border border-t-0 border-b-0 border-slate-500 w-10 mx-auto absolute hidden;
    height: 33px;
    top: 40px;
    left: 50%;
    margin-left: -20px;
}

.step-verticals-lines > div {
    position: absolute;
    background: white;
    width: 38px;
    height: 20px;
    bottom: -1px;
}

.active .step-icon {
    @apply border border-b-0 border-slate-500 rounded-b-none bg-transparent;
}

.active .step-verticals-lines {
    @apply block;
}

.step-union-lines {
    @apply w-full py-1 rounded;
}

.active .step-union-lines,
.complete .step-union-lines {
    @apply bg-teal-500;
}

#reservacion-form[busy],
#salida-form[busy] {
    opacity: 0.5;
}

#reservacion-form[busy] button,
#reservacion-form[busy] a.btn,
#salida-form[busy] .calendar-icon {
    @apply hidden;
}

#salida-form[busy] .button-loading {
    @apply inline;
}

#reservacion-form[busy] div.loading-div {
    @apply flex;
}

.calendar-icon {
    @apply absolute m-[10px] top-0 right-0 cursor-pointer text-slate-500;
}

.salida-col {
    @apply text-sm text-gray-900 px-0 sm:px-2 py-4 border-b flex items-center;
}

.salida-selected {
    @apply bg-slate-300;
}

.salida-selected button.elegir {
    @apply hidden;
}
.salida-selected button.btn-descartar-salida {
    @apply inline-block;
}

.asiento > svg {
    @apply fill-slate-500;
}
.asiento.libre {
    @apply cursor-pointer;
}
.asiento.libre:not(.elegido):hover {
    @apply bg-slate-200 rounded-2xl;
}
.asiento.elegido {
    @apply bg-teal-400 rounded-2xl;
}
.asiento.elegido.libre:hover {
    @apply bg-teal-100;
}
.elegido > svg {
    @apply fill-teal-700;
}
.help-text {
    @apply text-orange-500 text-sm flex items-center font-medium;
}
.help-text.help-info {
    @apply text-blue-400;
}
