<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="theme-color" content="#000000"/>
		<link rel="shortcut icon" href="./assets/img/favicon.ico"/>
		<link
		rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png"/>

		{# {% block stylesheets %}
					{{ encore_entry_link_tags('pdf') }}
				{% endblock %} #}
		<link rel="stylesheet" href="/build/pdf.css">
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
