<div class="bg-blue-100 rounded-lg py-5 px-6 text-blue-700 my-5 font-medium flex items-center {{class}}" role="alert">
	{% if icon %}
		<span class="material-symbols-outlined mr-2">
			{{icon}}
		</span>
	{% endif %}
	{{text}}
</div>
