<section class="slider relative block h-[33vw] w-full" data-controller="slider" data-slider-images-value="{{this.slider | json_encode()}}">
	<span style="z-index: 8" class="w-full h-full absolute backdrop-contrast-100 bg-black/30"></span>

	<div data-slider-target="slider">
		{% for key, image in this.slider.images %}
			<div style="z-index: {{this.slider.images | length - key}}; background-image: url('{{ image.path | imagine_filter('slider') }}');" class="absolute top-0 slider w-full min-h-[33vw] bg-center bg-no-repeat bg-cover"></div>
		{% endfor %}
	</div>
	{% if this.slider.images | length > 1%}
		<div style="background-image: url('{{ this.slider.images[0].path | imagine_filter('slider') }}');" class="z-0 absolute top-0 slider w-full min-h-[33vw] bg-fixed bg-top bg-no-repeat bg-cover"></div>
	{% endif %}

</section>
