<turbo-stream action="update" target="error_pago">
	<template>
		<div class="text-center" id="error-pago">
			{% if detalle is defined and detalle %}
				{% set error = error | trans ~ '<br><br><b>' ~ 'Respuesta de la institución bancaria' | trans ~ ':</b>: ' ~ detalle %}
			{% endif %}
			{{ component('alert', {icon: 'error', text: error | trans, class: 'mb-0 error'}) }}
		</div>
	</template>
</turbo-stream>
