<turbo-stream action="update" target="data-collection">
	<template>

		<div data-turbo="false" data-turbo-cache="false" data-controller='data-collection-iframe' data-data-collection-iframe-payer-authentication-check-enrollment-url-value="{{path('payer_authentication_check_enrollment')}}" data-data-collection-iframe-error-server-sent-event-url-value="{{path('payment_iframe_data_collection_error')}}">
			<iframe name="ddc-iframe" height="10" width="10" style="display: none;"></iframe>
			<form data-data-collection-iframe-target='form' data-turbo="false" id="ddc-form" target="ddc-iframe" method="POST" action="{{deviceDataCollectionUrl}}">
				<input type="hidden" name="JWT" value="{{accessToken}}"/>
			</form>
		</div>

	</template>
</turbo-stream>
