<turbo-frame id="reservacion-form">
	<div data-controller="confirmacion">
		<div class="mb-5">
			{{ component('alert', {icon: 'done', class: 'bg-teal-100 text-teal-700', text: ('Su reserva ha sido creada con exito. Guarde el boleto y llévelo en el teléfono o impreso el día de su viaje.' | trans) ~ (reservacion.cliente.email ? (' ' ~ 'Se ha enviado un correo a' | trans ~ ' ' ~reservacion.cliente.email ~ ' ' ~ 'con una copia del boleto.' | trans))}) }}
		</div>
		<div class="mb-5">
			{{ component('alert', {text: 'Si no se ha descargado el boleto automáticamente pulse el boton para descargarlo.' | trans}) }}
			{{ component('button_link', {text: 'Descargar boleto' | trans, icon: {right: true, name: 'file_download'}, link: path('pdf', {reservacion: reservacion.id}), attr: 'data-turbo=false data-confirmacion-target=pdf_link'}) }}

		</div>
	</div>
</turbo-frame>
