<div id="reserva-wrap" class="reserva absolute top-0 z-40 mx-auto mt-0 md:mt-10 lg:mt-14 xl:mt-[80px] bg-slate-50 sm:rounded-lg md:w-full lg:w-fit max-w-full md:max-w-[700px] lg:max-w-6xl xl:max-w-7xl  md:min-w-[750px] px-5 md:px-10 lg:px-10 xl:px-16 drop-shadow-lg">

	<div class="w-full m-auto" data-controller="reservacion" data-reservacion-paso-value="{{reservacion_paso}}" data-action='ruta-form:reservacion_paso->reservacion#setPaso'>

		{% if reservacion_paso == 0 %}
			<div class="text-center pt-5" data-reservacion-target="alert">
				{{ component('alert', {text: 'Haga su <strong>reserva</strong> completando la información requerida.' | trans, class: 'rounded-none mb-0'}) }}
			</div>
		{% endif %}

		<div data-action='asiento:reservacion_paso@window->reservacion#setPaso'></div>
		<div data-action='pagar:reservacion_paso@window->reservacion#setPaso'></div>

		<div class="pt-10 pb-10">


			{% include 'reservacion/_steps.html.twig' %}

			<div class="relative" data-action="confirmacion:reserva->reservacion#setPaso">
				<turbo-frame id="reservacion-form" src="{{ path(reservacion_action, {primer_render: true}) }}">
					<div class="flex justify-center items-center w-full h-52">
						{% include '_svg_loading.html.twig' %}
					</div>
				</turbo-frame>
			</div>
		</div>
	</div>

</div>
